# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Odoo
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.egg-info/
odoo-source/      # código fuente de Odoo, no versionarlo
.odoo/            # configs temporales
*.log

# Docker
*.pid
*.seed
.env
.env.local
.env.*.local

# Frontend build
front/dist/
front/.vite/
front/.cache/
*.local

# Back build
back/dist/
back/.cache/

# Config / secrets
config/odoo.conf      # Solo ignorar odoo.conf (mantener odoo.dev.conf versionado)
nginx/                # en tu caso no la usas
secrets/
*.crt
*.key

# IDE/editor
.vscode/
.idea/
.DS_Store
Thumbs.db
odoo-source/

# odoo-source, ignora el contenido de postgress y odoo
odoo-source/postgres/
odoo-source/odoo/